@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    font-family: 'Abril Fatface', cursive;
}

.h1{
    text-align: center;
    color: red;
}
.h2{
    margin-left: 670px;
    color: blue;
}
.div1{
    display: flex;
    height: 60vh;
}
.div2{
    width: 50%;
    display: flex;
    flex-direction: column;
    height: 95vh;
    row-gap: 10px; 
}
.div3{
    color: white;
    width: 530px;
    text-align: justify;
}
.div4{
    padding: 0px;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.div5{
    font-size: 14px;
    width: 50%;
}
.letter{
    color: black;
}
.cont{
    color: rgb(129, 126, 126);
}
.h{

    color: white;
}
body{
    margin: 0 30 0 30;
    background:url("mar2.jpg"); 
    background-repeat:  no-repeat;
    background-position: bottom;
    background-size: cover;
}
p{
    opacity: none;  
    color: white;
}
ul{
    list-style: none;
    color: yellow;
}
img{
    width: 100%;
    height: 55%;
    max-width: 80%;
    max-height:30%;
}
a{
    color: rgb(39, 209, 231);
    text-decoration-line: none;
}
ul a{
    text-decoration-line: none;
    color: aqua;
}
.img1{
    padding-bottom: 10px;
    border-bottom: solid 1.6px #fff;
}
.lu{
    display: flex;
    flex-direction: row;
}
